.works__projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.works__header {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  background-color: #1A1A1A;
  padding: 40px min(40px, max(16px, 4vw));
  margin-bottom: 10px;
}
.works__title {
  color: #F9EFEC;
  font-size: min(38px, max(22px, 4vw));
  text-transform: uppercase;
  font-weight: 600;
}
.works__header-link {
  color: #B3B3B2;
  font-size: min(16px, max(12px, 2vw));
  display: flex;
  align-items: center;
  gap: 10px;
}
.works__item-title {
  color: #F9EFEC;
  font-size: min(18px, max(14px, 2vw));
  text-transform: uppercase;
  font-weight: 500;
}
.works__project-item {
  padding: 10px;
  border: 2px solid #1A1A1A;
  display: flex;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #1F1F1F;
}
.works__project {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: #1A1A1A;
  border-radius: 14px;
  padding: 49px min(28px, max(10px, 4vw));
}
.works__project-header {
  display: flex;
  row-gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works__project-img {
  width: 33%;
  object-fit: cover;
}
.works__header-item {
  display: flex;
  align-items: center;
  gap: 14px;
}
.works__header-link {
  font-size: min(16px, max(12px, 2vw));
  color: #B3B3B2;
  text-transform: uppercase;
}
.works__list-item {
  display: flex;
  background-color: #1F1F1F;
  border-radius: 45px;
  padding: 10px 14px;
  width: max-content;
  margin-bottom: 5px;
  gap: 6px;
  flex-wrap: wrap;
  align-items: center;
}
.works__about-title {
  color: #B3B3B2;
  font-size: min(14px, max(10px, 2vw));
}
.works__dote {
  color: #CE7D63;
}
.works__about {
  color: #E6E6E6;
  font-size: min(14px, max(10px, 2vw));
  font-weight: 500;
}
.works__description {
  color: #B3B3B2;
  font-size: min(16px, max(12px, 2vw));
}
.works__development {
  width: 33%;
}
.works__development-title {
  font-size: min(16px, max(12px, 2vw));
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.works__technologies {
  background-color: #1A1A1A;
  width: 100%;
  padding: 28px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.works__technologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 26px;
  margin-top: 16px;
}
.works__technologie {
  list-style: none;
  background-color: #1F1F1F;
  border-radius: 45px;
  padding: 8px 14px;
  color: #E6E6E6;
  font-size: min(14px, max(10px, 2vw));
  width: max-content;
}
.works__team {
  background-color: #1A1A1A;
  width: 100%;
  padding: 16px 20px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 6px;
}
.works__team-title {
  font-size: min(16px, max(12px, 2vw));
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.works__team-members-list {
  display: flex;
  gap: 10px;
}
.works__team-member {
  width: 40px;
  height: 40px;
}
.works__call {
  border: none;
  background-color: #CE7D63;
  color: #0F0F0F;
  width: 100%;
  height: 49px;
  border-radius: 8px;
  font-size: min(14px, max(10px, 2vw));
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.works__call:hover {
  color: #CE7D63;
  background-color: #1F1F1F;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px #676665;
}
.works__view-button {
  display: none;
  width: 100%;
  background-color: #1A1A1A;
  text-align: center;
  padding: 30px;
  margin-top: 10px;
  border-radius: 12px;
  color: #B3B3B2;
  border: none;
}
@media (max-width: 768px) {
  .works__project-item {
    flex-direction: column;
  }
  .works__project {
    width: 100%;
  }
  .works__list-item {
    font-size: 12px;
  }
  .works__development {
    display: none;
  }
  .works__project-img {
    width: 100%;
  }
  .works__view-button {
    display: block;
  }
}
